@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

// vars font

$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Nunito', sans-serif;

//size

$textSm:0.7em;
$textMd:1em;
$textLg:1.5em;
$textXl:2.5em;