<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Classy Memories- Renta de autos antiguos</title>
	<link rel="shortcut icon" href="imagen/favicon/logo.png" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	
    <!--mi css vinculado-->
  <link rel="stylesheet" href="../css/style.css">
	  

</head>
<body>

<!-- nav bootstrap -->

	<div class="grid template-areas">
    <nav class="navbar navbar-expand-lg navbar-light bg-rosa" id="nav" > 
      <div class="container-fluid">
        <a href="../index.html">
          <img 
            src="../imagen/favicon/logo.png"
            alt="logo de classy memories"
          />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../views/Nosotros.html">Nosotros</a>
            </li>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Servicios
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="../views/galeria.html">Galeria</a></li>
                <li><a class="dropdown-item" href="../views/servicios.html">Servicios</a></li>
                                <li><a class="dropdown-item" href=#contactos>Contactos</a></li>
              </ul>
            </li>
           
          </ul>
          
        </div>
      </div>
    </nav>

      
      <!-- termina nav bootstrap -->
			


<main id="centro" class="bg-main row">
<h1 class="nav-h1">Nosotros</h1>
	<div class="container1 flex-direction ">
		<div class="box bg-brown ">
			 <img   src="../imagen/foto/asidenosotros.png" alt="nosotros header"></div>

	<p >Lorem ipsum, dolor sit, amet consectetur adipisicing elit. In voluptatum a at, inventore nam hic tenetur, quia est, voluptate, perspiciatis odio. Fuga illum dolorum, quos ipsa voluptate in eos dolores!
	Aliquam, temporibus. Sunt voluptatibus ullam consectetur porro officiis adipisci dolor molestias. Dignissimos nobis tempora, voluptates hic nemo aliquam exercitationem odit itaque laboriosam pariatur soluta perspiciatis illo non amet dolores! Consectetur.
	Laborum nulla, quod vel recusandae ut culpa amet esse doloremque, neque maxime voluptatem, odit eligendi eius impedit eaque eveniet. Placeat ut sapiente voluptas eligendi illo debitis maxime tempore dolore delectus.
	Amet repellat blanditiis expedita reiciendis! Quae excepturi vero delectus molestiae, aperiam tempore, dolorem ratione. Quod sed, sapiente quas tempora illum labore! Ab fugiat sed, sunt, provident ad eius aliquam libero! </p>

	</div>
</main>


<aside id="aside" class="bg-grey container">
	<div class="box">
<h2> Direccion</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.656986763675!2d-103.4203156847376!3d20.683529586186378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428aeed34d5d639%3A0xe19877c4bdb7300e!2sJohn%20Milton%20228%2C%20Jardines%20de%20la%20Patria%2C%2045110%20Zapopan%2C%20Jal.!5e0!3m2!1sen!2smx!4v1653857904549!5m2!1sen!2smx" width="400px" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
</aside>

		<footer id="pie" class="bg-grey">
			<H3 class="nav-h2"> Siguenos en nuestras redes sociales</H3>


	<a href="http://www.facebook.com"target="_blank">
	<img src="../imagen/favicon/facebook.png" alt=facebook>
</a>
<a href="https://twitter.com"target="_blank">
	<img src="../imagen/favicon/twitter.png" alt=twitter>
</a>

			</footer>

	</div>
	<!-- fin del grid -->
</body>
</html>