<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classy Memories- Renta de autos antiguos</title>
  <link rel="shortcut icon" href="imagen/favicon/logo.png" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
    <!--mi css vinculado-->
  <link rel="stylesheet" href="../css/style.css">
    

</head>
<body class="bg-main">

  <!-- nav bootstrap -->
  <div class="grid template-areas">
    <nav class="navbar navbar-expand-lg navbar-light bg-rosa" id="nav" > 
      <div class="container-fluid">
        <a href="../index.html">
          <img 
            src="../imagen/favicon/logo.png"
            alt="logo de classy memories"
          />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-4 mb-8 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../views/nosotros.html">Nosotros</a>
            </li>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Home
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="../views/galeria.html">Galeria</a></li>
                <li><a class="dropdown-item" href="../views/servicios.html">Servicios</a></li>
                                <li><a class="dropdown-item" href=#contactos>Contactos</a></li>
              </ul>
            </li>
           
          </ul>
          
        </div>
      </div>
    </nav>


      
      <!-- termina nav bootstrap -->
	
<main class="bg-main row" id="centro">	
	
	<div class="grid container flex-direction me-12 mb-8 mb-lg-0" >

<h1 class="nav-h1  ">Servicios</h1>
		<div class="box bg-rosa">
	 

	

	<section class="fieldset-servicios">
		<table class="bg-main" border="30px" cellspacing="30px" cellpadding="20px">
			<tr>
				<th>Con Escolta</th>
				<th>Hrs de Servicio</th>
				<th>Costo</th>
			</tr>
			<tr>
<td>Si</td>
<td>4 hrs</td>
<td>$2000.00</td>
     </tr>

     	<tr>		
<td>Si</td>
<td>8 hrs</td>
<td>$3000.00</td>
     </tr>

          	<tr>		
<td>Si</td>
<td>24 hrs</td>
<td>$4000.00</td>
     </tr>


		</table>
	
	</section>

</div> </div>

</main>
<aside id="aside "class="row" >
<div class="me-0 mb-4 mb-lg-0">
	<img
              src="../imagen/foto/headerservicios.png"
              alt="imagen contactos header">

</aside>
<footer id="pie" class="bg-grey">
	<H3 class="nav-h2"> Siguenos en nuestras redes sociales</H3>
	

	<a href="http://www.facebook.com"target="_blank">
	<img src="../imagen//favicon/facebook.png" alt=facebook>
</a>
<a href="https://twitter.com"target="_blank">
	<img src="../imagen/favicon/twitter.png" alt=twitter>
</a>
</footer>
</body>
</html>